@page
@model E_Commerce.Pages.IndexModel
@{
    Layout = "_Layout";
}
<div class="LandingImage">
    <img src="/lib/images/person-holds-a-book-over-a-stack-and-turns-the-page.jpg" alt="Reading books" width="900" height="600" style="display: block; margin-left: auto; margin-right: auto;" />
</div>
@*
<h1>"Hello from Razor Pages"</h1>
<p>Model type is @Model.GetType().FullName</p>
<a asp-page="MyAccount">My Account Page</a>

<h3>Product List</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">Id</div>
        <div class="col-xl">Name</div>
        <div class="col-sm">Price</div>
        <div class="col-xl">Summary</div>
        <div class="col-sm">Condition</div>
        <div class="col-sm">Genre</div>
        <div class="col-md">Action</div>
        <div class="w-100"></div>
        @foreach (var product in Model.Products)
        {
                <div class="col-sm">@product.Id</div>
                <div class="col-xl">@product.Name</div>
                <div class="col-sm">$@product.Price</div>
                <div class="col-xl">@product.Summary</div>
                <div class="col-sm">@product.Condition</div>
                <div class="col-sm">@product.ProductCategoryId</div>
                <div class="col-md"><a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Add to Cart</a></div>
                <div class="w-100"></div>
                }
            </div>
        </div>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Summary</th>
        <th>Condition</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    @foreach (var product in Model.Products)
    {
        <tr align="center">
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>$@product.Price</td>
            <td>@product.Summary</td>
            <td>@product.Condition</td>
            <td>@product.ProductCategoryId</td>
            <td>
                <a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Add to Cart</a>
            </td>
        </tr>
    }
</table>*@

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>
