@page
@model E_Commerce.Pages.ProductDetailsModel
@{
}
<h3>Product Details</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm">Id</div>
        <div class="col-xl">Name</div>
        <div class="col-xl">Author</div>
        <div class="col-sm">Price</div>
        <div class="col-xl">Summary</div>
        <div class="col-sm">Condition</div>
        <div class="col-sm">Genre</div>
        <div class="col-md">Goodreads to see reviews</div>
        <div class="col-sm">Part of a Series?</div>
        <div class="col-sm">Other Books by This Author</div>
        <div class="col-sm">Similar Authors</div>
        <div class="col-md">Action</div>
        <div class="w-100"></div>

        @foreach (var product in Model.Products)
        {
            <div class="col-sm">@product.Id</div>
            <div class="col-xl">@product.Name</div>

            <div class="col-sm">$@product.Price</div>
            <div class="col-xl">@product.Summary</div>
            <div class="col-sm">@product.Condition</div>
            <div class="col-sm">@product.ProductCategoryId</div>
            @*<div class="col-sm">@product.ProductCategoryId</div>this needs to be a link to goodreads using the book title in the search query*@
            <button class="btn btn-success" onclick=" window.open('https://www.goodreads.com/search?q=warrior+heir&qid=','_blank')">Review</button> @*take out hard coded title*@
            <button class="btn btn-dark" onclick=" window.open('https://www.goodreads.com/search?q=heir+chronicles&qid=','_blank')">Series Search on Goodreads</button>@*take out hard coded series*@
            <button class="btn btn-light" onclick=" window.open('https://www.goodreads.com/search?q=cinda+williams+chima&qid=','_blank')">Other [Author] Books</button>@*take out hard coded author*@
            <button class="btn btn-primary" onclick=" window.open('https://www.similarauthors.com/search.php?author=nora+roberts','_blank')">Similar Authors</button>@*take out hard coded author*@
            <div class="col-md"><a asp-page="cart" asp-page-handler="buynow" asp-route-id="@product.Id">Add to Cart</a></div>
            <div class="w-100"></div>
        }
    </div>
</div>
