@model AdminIndexViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<h2>
    <a asp-controller="ProductCategories" asp-action="Index">Categories</a>
    (@Model.ProductCategoryCount)
    
</h2>


<div>
        <ul>
            @foreach (var productCategory in Model.ProductCategory)
            {
    <li>
        <a asp-controller="ProductCategories" asp-action="Details" asp-route-id="@productCategory.Id">
            @productCategory.Name
        </a>
    </li>
            }
        </ul>
    </div>
<h2>
    <a asp-controller="Products" asp-action="Index">Products</a>
    (@Model.ProductCount)

</h2>
<div>
    <ul>
        @foreach (var product in Model.Product)
        {
            <li>
                <a asp-controller="ProductCategories" asp-action="Details" asp-route-id="@product.Id">
                    @product.Name
                </a>
            </li>
        }
    </ul>
</div>
